html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 640px;
    height: 480px;
    border-radius: 5px;
}

a {
    margin: 10px;
    font-size: 1.5rem;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}